/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.jfx-text-field {
    -fx-text-inner-color: WHITE;
    -fx-font-size: 20px;
}
.jfx-text-area {
    -fx-text-inner-color: WHITE;
    -fx-font-size: 20px;
}
.button
{
    -fx-background-color: #393351;
    -fx-background-radius: 30 0 0 30;
}
.button:hover
{
    -fx-background-color: #524A7B;
    -fx-background-radius: 30 0 0 30;
}
.button:pressed
{
    -fx-background-color: #2F2B43;
    -fx-background-radius: 30 0 0 30;
}
.jfx-time-picker .text-field
{
    -fx-prompt-text-fill:white;
    -fx-font-size : 20px
}

.jfx-date-picker .text-field
{
    -fx-text-inner-color:white;
    -fx-font-size : 20px
}
.jfx-combo-box 
{
    -fx-text-fill:white;
    -fx-background-color: white;
    -fx-font-size : 18px
}


.root{
    -fx-background-color: #262626;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #46c43c;
    -fx-background-insets: 0.0, 0.0 0.0 0.0 0.0;
    -fx-text-fill: -fx-text-inner-color;
}

.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: #BCD4E5;
    -fx-background-insets: 0.0, 0.0 0.0 0.0 0.0;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-table-cell-border-color: #E0F2FF;
}